In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [19]:
movies.head(1)

AttributeError: 'tuple' object has no attribute 'head'

In [20]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [17]:
movies.merge(credits,on='title').shape

AttributeError: 'tuple' object has no attribute 'merge'

In [18]:
movies.head(1)

AttributeError: 'tuple' object has no attribute 'head'